In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#Read in the asteroid dataset we need to deal with
#Just changing this to the correct asteroid number will correctly calculate all necessary data to be used for our datasets
df = pd.read_csv('Asteroid 1.csv')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
#Set an index to the size of the DataFrame
ind =  len(df)
x = 0
#Create two new columns for Hours and Seconds passed while drilling
df.insert(7, "HOURS", '')
df.insert(8, "SECONDS", '')

#Iterate through the data sanatize it for consitiancy 
#(I wanted to use a df.drop() command but then iteration in the next steps became a pain)
while(x < ind - 1):
  if(df['BIT_DEPTH'][x] < 0):
    df['BIT_DEPTH'][x] = df['BIT_DEPTH'][x - 1]
    df['RATE_OF_PENETRATION'][x] = df['RATE_OF_PENETRATION'][x - 1]
    df['HOOK_LOAD'][x] = df['HOOK_LOAD'][x - 1]
    df['DIFFERENTIAL_PRESSURE'][x] = df['DIFFERENTIAL_PRESSURE'][x - 1]
    df['WEIGHT_ON_BIT'][x] = df['WEIGHT_ON_BIT'][x - 1]
  x += 1
x = 0 
#After making sure the data is workable, iterate through it again  
while(x < ind - 1):
  #Take the difference in depth between two rows
  diff = (df['BIT_DEPTH'][x + 1] - df['BIT_DEPTH'][x])
  #Calculate the time in Hours between the two intervals using the givin rate of penetration between them
  time = (diff / df['RATE_OF_PENETRATION'][x])
  #Input calculated value for Hours spent drilling
  df['HOURS'][x] = time
  #Calculate for Seconds and input into data
  df['SECONDS'][x] = time * 3600
  x += 1

In [ ]:
#Check that the time inputs are correct
df.head()

In [ ]:
#Group the data based on the drill bit id given
by_bit = df.groupby('DRILL_BIT_ID')
by_bit.groups

In [152]:
# Create an array for the amount of hours each bit is drilling for
total_time = [0] * by_bit.size().count()
# Set max value to the total length of the DataFrame
ind = len(df)
x = 0

#Iterate through the list and stop before the last value since it doesn't have a time
while (x < ind - 1):
  if (df['HOURS'].notnull()[x] == True and np.isinf(df['HOURS'][x]) == False):
    #Total up all of the hours based on the drill bit id
    #(NOTE: Below is ['DRILL_BIT_ID'][x] - 1 so that the drill bit id will match up with it's spot in the array "total_time")
    total_time[df['DRILL_BIT_ID'][x] - 1] += df['HOURS'][x]
  x += 1

print(total_time)

[74.61110888046439, 85.23420657849721, 136.12343350497804, 21.252277296825138]

In [153]:
#Group the bits by first and last indexes only
#(These groups are different from the one above but they will all interact with eachother)
by_bit_f = df.groupby("DRILL_BIT_ID").first()
by_bit_f

,BIT_DEPTH,RATE_OF_PENETRATION,HOOK_LOAD,DIFFERENTIAL_PRESSURE,WEIGHT_ON_BIT,DRILL_BIT_NAME,HOURS,SECONDS
DRILL_BIT_ID,,,,,,,,
1,745.01,270.94,89.67,52.50,10.96,Buzz Drilldrin,0.005610,20.196353
2,6400.53,134.57,149.03,477.98,49.91,AstroBit,0.011592,41.732927
3,14320.50,230.37,189.81,1053.05,20.08,ChallengDriller,0.002214,7.969788
4,18655.01,102.96,149.65,759.47,37.36,ChallengDriller,0.009810,35.314685

In [154]:
#Code for last index grouping
by_bit_l = df.groupby("DRILL_BIT_ID").last()
by_bit_l

,BIT_DEPTH,RATE_OF_PENETRATION,HOOK_LOAD,DIFFERENTIAL_PRESSURE,WEIGHT_ON_BIT,DRILL_BIT_NAME,HOURS,SECONDS
DRILL_BIT_ID,,,,,,,,
1,6399.11,204.29,148.13,501.99,49.75,Buzz Drilldrin,0.006951,25.023251
2,14318.52,234.56,189.16,1081.49,20.99,AstroBit,0.008441,30.388813
3,18654.52,103.52,150.04,752.83,37.04,ChallengDriller,0.004733,17.040185
4,20628.53,120.37,155.91,904.00,35.26,ChallengDriller,,

In [155]:
#Create array for names of the drill bit per ID 
#and create array for total depth covered by a drill bit
bit_names = [0] * by_bit.size().count()
total_depth = [0] * by_bit.size().count()
start_depth = [0] * by_bit.size().count()
end_depth = [0] * by_bit.size().count()

#Iterate over the number of drill bit ids
ind =  by_bit.size().count()
x = 1

#Iteration starts with a + 1 since x starts at one to line up with the drill bit id
while (x < ind + 1):
  bit_names[x - 1] = by_bit_f.get(1, by_bit_f['DRILL_BIT_NAME'])[x]
  total_depth[x - 1] = (by_bit_l.get(1, by_bit_l['BIT_DEPTH'])[x] - by_bit_f.get(1, by_bit_f['BIT_DEPTH'])[x])
  start_depth[x - 1] = by_bit_f.get(1, by_bit_f['BIT_DEPTH'])[x]
  end_depth[x - 1] = by_bit_l.get(1, by_bit_l['BIT_DEPTH'])[x]
  x += 1

In [156]:
# Create an array for the total cost of using a specific drill bit 
total_cost_per_bit = [0] * by_bit.size().count()
#Since we will compair both start and finish at the same time, we only need
# the bit id to be the size of the indicies
ind =  by_bit.size().count()
x = 1

#Calculate the cost depending on drill head, drilling depth, and drill time based on these factors:
#Buzz = 5000 + (ft * 1.5)
#Astro = 3000 + (finish - start * 1) + (((start_depth/ 100 * 30)/ 3600) + ((finish_depth/ 100 * 30)/ 3600) + (total_time) * 1500)
#Apollo = 1000 + (finish - start * 4) + (((start_depth/ 100 * 30)/ 3600) + ((finish_depth/ 100 * 30)/ 3600) + (total_time) * 2500)
#Challenge = 10000
#total = Buzz+Astro+Apollo+Challenge 

#For Astro and Apollo, we have to factor in the travel time to the begining of drilling and 
#the time taking the bit out after drilling has stopped into the total time taken 
#(These measurements also had to be converted to hours for consistancy with cost per hour)

while (x < ind + 1):
  #For every name come across in the start group, calculate the correct cost
  curr_name = by_bit_f.get(1, by_bit_f['DRILL_BIT_NAME'])[x]
  if(curr_name == 'Buzz Drilldrin'):
    total_cost_per_bit[x - 1] += 5000 + (total_depth[x - 1] * 1.5)

  elif(curr_name == 'AstroBit'):
    total_cost_per_bit[x - 1] += 3000 + (total_depth[x - 1] * 1)\
                                      +(((((by_bit_f.get(1, by_bit_f['BIT_DEPTH'])[x])/100 * 30)/3600)\
                                      +(((by_bit_l.get(1, by_bit_l['BIT_DEPTH'])[x])/100 * 30)/3600)\
                                      +(total_time[x - 1])) * 1500)

  elif(curr_name == 'Apollo'):
    total_cost_per_bit[x - 1] += 1000 + (total_depth[x - 1] * 4 )\
                                      +((((by_bit_f.get(1, by_bit_f['BIT_DEPTH'])[x]/100 * 30)/3600)\
                                      +((by_bit_l.get(1, by_bit_l['BIT_DEPTH'])[x]/100 * 30)/3600)\
                                      +(total_time[x - 1])) * 2500)
  elif(curr_name == 'ChallengDriller'):
    total_cost_per_bit[x - 1] += 10000

  x += 1
#Print name to show the list of drill bits to match up with their cost
print(bit_names)
#Print the cost divided up by each drill bit
print(total_cost_per_bit)

['Buzz Drilldrin', 'AstroBit', 'ChallengDriller', 'ChallengDriller']
[13481.15, 141359.1811177458, 10000, 10000]

In [157]:
#Print total cost of drilling this asteroid
total_cost = sum(total_cost_per_bit)
total_cost

174840.33111774578

In [158]:
 #Check totals to be sent to SQL Database
print(bit_names)
print(start_depth)
print(end_depth)
print(total_depth)
print(total_cost_per_bit)
print(total_time)

['Buzz Drilldrin', 'AstroBit', 'ChallengDriller', 'ChallengDriller']
[745.01, 6400.53, 14320.5, 18655.01]
[6399.11, 14318.52, 18654.52, 20628.53]
[5654.099999999999, 7917.990000000001, 4334.02, 1973.5200000000004]
[13481.15, 141359.1811177458, 10000, 10000]
[74.61110888046439, 85.23420657849721, 136.12343350497804, 21.252277296825138]

In [159]:
#Create a new dataframe of the total, these will be used for our main calculations on a webpage
total = pd.DataFrame({'Names' : bit_names, 'Start_Depth' : start_depth, 'End_Depth' : end_depth, 'Total_Depth' : total_depth, 'Total_Cost' : total_cost_per_bit, 'Total_Time' : total_time})
total

,Names,Start_Depth,End_Depth,Total_Depth,Total_Cost,Total_Time
0,Buzz Drilldrin,745.01,6399.11,5654.10,13481.150000,74.611109
1,AstroBit,6400.53,14318.52,7917.99,141359.181118,85.234207
2,ChallengDriller,14320.50,18654.52,4334.02,10000.000000,136.123434
3,ChallengDriller,18655.01,20628.53,1973.52,10000.000000,21.252277

In [160]:
#pip install pymysql

In [161]:
# #Transfer data to MySQL database
# from sqlalchemy import create_engine
# import pymysql

# sqlEngine = create_engine('mysql+pymysql://admin:M100101s@18.205.69.32/astroapp', pool_recycle = 3600)
# dbConnection = sqlEngine.connect()

# try:
#   frame = df.to_sql('asteroid1', dbConnection, if_exists = 'fail');
#   frame = total.to_sql('asteroid1_total', dbConnection, if_exists = 'fail');
# except ValueError as vx:
#   print(vx)
# except Exception as ex:
#   print(ex)
# else:
#   print("Table created successfully.")
# finally:
#   dbConnection.close()